<ul class="list-group">
	<li *ngFor="let task of getTaskList();index as i" 
		 class="list-group-item">
		 Id: {{ task.id }}
		 <div class="task-checkbox">
		 	<input type="checkbox" 
		 		   class="list-child" 
		 		   [checked]="task.isCompleted" 
		 		   (change)="onChangeTask($event,task)"/>
		 </div>
		 <span ngClass="{{ task.isCompleted ? 'name completed' : 'name' }}">{{ task.name }}</span>
		 <span class="label {{getDueDateLabel(task)}}">{{ task.dueDate }}</span>
		 <button class="btn btn-danger" (click)="onRemove(i)">DELETE</button>
	</li>
</ul>
